
<header>
    <div class="d-flex justify-content-between align-items-center">
        <div class="search-container">
            <a class="navbar-brand" href="#">Logo</a>

            <form action="/search/" method="get" >
                <button class="btn btn-outline-success" id="search-btn" type="submit"></button>
                <input class="mr-sm-5" type="search" id="search-input" name="q" placeholder="جستجو">
            </form>
            
        </div>
        <div>
            <a href="#" class="ml-auto">سبد خرید</a>
        </div>
    </div>
</header>