<ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href=""><span>کاربر گرامی خوش آمدید؛ <span>{{user}}</span></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}"><strong>خروج</strong></a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}"><strong>ورود</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}"><strong>ثبت نام</strong></a>
        </li>
    {% endif %}
</ul>